{% extends 'main/base.html' %}
{% load static %}


    {% block content %}

    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Блог</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">На главную</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- breadcrumb Endss -->

    <!-- detail starts -->
    <section class="details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news1.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news2.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news3.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news1.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news2.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news3.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news1.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news2.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="news-item">
                                    <div class="news-image">
                                        <img src="{% static 'blog/images/news3.jpg' %}" alt="image">
                                    </div>
                                    <div class="news-content">
                                        <p class="date">16 DECEMBER 2019</p>
                                        <h4>Why choose Gautama Hotel to travel this summer</h4>
                                        <div class="room-services">
                                            <ul>
                                                <li><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</li>
                                                <li><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</li>
                                            </ul>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                        <a href="{% url 'blog:single' %}">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-content text-center">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- detail Ends -->
    
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
            <div class="login-content">
                <div class="login-image">
                    <img src="{% static 'blog/images/logo-black.png' %}" alt="image">
                </div>
                <h3>Hello!Sign into your account</h3>
                <form>
                    <div class="form-group">
                        <input type="email" placeholder="Enter email address">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Enter password">
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox"> Remember Me
                        <a href="#">Forgot password?</a>
                    </div>
                </form>
                <div class="form-btn">
                    <a href="#" class="btn btn-orange">LOGIN</a>
                    <p>Need an Account?<a href="#"> Create your Gautama account</a></p>
                </div>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
            <div class="login-content">
                <div class="login-image">
                    <img src="{% static 'blog/images/logo-black.png' %}" alt="image">
                </div>
                <h3>Awesome! Create a Gautama Account</h3>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Enter email address">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Confirm password">
                    </div>
                </form>
                <div class="form-btn">
                    <a href="#" class="btn btn-orange">SIGN UP</a>
                </div>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
