{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Афиша</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">На главную</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- breadcrumb Ends -->

    <!-- Gallery starts -->
    <section class="events bg-white">
        <div class="container">
            <div class="events-detail single-detail">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="title mar-bottom-30">
                            <h5 class="mar-bottom-5">PaRAnoiaDOlls</h5>
                            <h2>РОК-ВОЛНА <span>Наше Лето 2023</span></h2>
                        </div>
                        <div class="news-image">
                            <img src="{% static 'webapp/images/summer.jpg' %}" alt="image" class="width">
                        </div>
                        <div class="events-detail mar-top-30">
                            <div class="news-content pad-0">
                                <h4>ОПИСАНИЕ МЕРОПРИЯТИЯ</h4>
                                <p class="mar-0">"Рок Волна Наше Лето 2023" - это грандиозный музыкальный фестиваль,
                                    который соберет вместе лучшие рок-группы со всего мира.
                                    Фестиваль пройдет на просторной площадке на берегу моря,
                                    где посетители смогут наслаждаться потрясающими выступлениями,
                                    а также отдыхать на пляже и наслаждаться живописными пейзажами..</p>
                            </div>
                        </div>
                        <div class="events-detail mar-top-30">
                            <div class="news-content pad-0">
                                <h4>КОНТЕНТ СОБЫТИЯ</h4>
                                <ul class="event-list-content">
                                    <li>Ярмарка рок-атрибутики</li>
                                    <li>Мастер-классы от звезд музыки и фильмов.</li>
                                    <li>Экскурсии по местным достопримечательностям.</li>
                                    <li>Будет работать множество кафе и ресторанов,
                                        где гости смогут насладиться разнообразными блюдами местной кухни.</li>
                                    <li>Специальная зона для фотографирования.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail-review news-content pad-0 mar-top-30">
                            <h4>3 комментария</h4>
                            <div class="review-outer">
                                <ul>
                                    <li>
                                        <div class="review-item">
                                            <div class="review-image">
                                                <img src="{% static 'webapp/images/review1.jpg' %}" alt="image">
                                            </div>
                                            <div class="review-content">
                                                <h5>Micheal Clordy</h5>
                                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                <p class="date">November 10,2018 at 3:10 pm</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id
                                                    iaculis arcu. Aenean non dolor magna. In sed consectetur nisi. Sed
                                                    venenatis, nibh sit amet sodales ullamcorper. </p>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="review-item">
                                                    <div class="review-image">
                                                        <img src="{% static 'webapp/images/review2.jpg' %}" alt="image">
                                                    </div>
                                                    <div class="review-content">
                                                        <h5>Micheal Clordy</h5>
                                                        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                        <p class="date">November 10,2018 at 3:10 pm</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Proin id iaculis arcu. Aenean non dolor magna. In sed
                                                            consectetur nisi. Sed venenatis. </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="review-item">
                                            <div class="review-image">
                                                <img src="{% static 'webapp/images/review3.jpg' %}" alt="image">
                                            </div>
                                            <div class="review-content">
                                                <h5>Micheal Clordy</h5>
                                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                <p class="date">November 10,2018 at 3:10 pm</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id
                                                    iaculis arcu. Aenean non dolor magna. In sed consectetur nisi. Sed
                                                    venenatis. </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="comment-box mar-top-20">
                                <h4>Оставить комментарий</h4>
                                <form class="mar-top-30">
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <input type="text" class="form-control" id="fname" placeholder="First Name">
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <input type="text" class="form-control" id="lname" placeholder="Last Name">
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <input type="text" class="form-control" id="phnumber" placeholder="Phone">
                                        </div>
                                        <div class="textarea col-xs-12">
                                            <textarea placeholder="Enter a message"></textarea>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="comment-btn">
                                                <a href="#" class="btn btn-orange">отправить</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="Sidebar">
                            <div class="sidebar-search sidebar-item">
                                <h4>Поиск по сайту</h4>
                                <form>
                                    <input type="text" placeholder="ввод">
                                    <a href="#">Go</a>
                                </form>
                            </div>
                            <div class="sidebar-info sidebar-item">
                                <div class="info">
                                    <ul>
                                        <li class="title"><i class="fa fa-clock"></i> Старт события</li>
                                        <li class="item">Пятница, Июль 15, 2023 <span>8:00 am</span></li>
                                    </ul>
                                    <ul>
                                        <li class="title"><i class="fa fa-clock"></i> Конец события</li>
                                        <li class="item">Воскресенье, Июль 17, 2023 <span>5:00 pm</span></li>
                                    </ul>
                                    <ul>
                                        <li class="title"><i class="fa fa fa-map-marker"></i> Адресс</li>
                                        <li class="item">Крым, Украина</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-book-event">
                                <h4>Купить Билет</h4>
                                <form role="search" class="book_event">
                                    <ul>
                                        <li>
                                            <div class="label">Всего</div>
                                            <div class="value">500</div>
                                        </li>
                                        <li>
                                            <div class="label">Забронировано</div>
                                            <div class="value">200</div>
                                        </li>
                                        <li class="event-cost">
                                            <div class="label">Стоимость</div>
                                            <div class="value">$20/Slot</div>
                                        </li>
                                        <li>
                                            <div class="label">Количество</div>
                                            <div class="value"><input type="number" name="qty" value="1" min="1"></div>
                                        </li>
                                    </ul>
                                    <div class="button text-center pad-top-15 pad-bottom-15"><a href="#"
                                                                                                class="btn btn-orange">Купить сейчас</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Ends -->
{% endblock %}