{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Events</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Events Details</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- breadcrumb Ends -->

    <!-- Gallery starts -->
    <section class="events bg-white">
        <div class="container">
            <div class="events-detail single-detail">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="title mar-bottom-30">
                            <h5 class="mar-bottom-5">Fulfill Your Dream @ Gautama</h5>
                            <h2>Wedding Ceremony Of <span>John & Ina</span></h2>
                        </div>
                        <div class="news-image">
                            <img src="{% static 'webapp/images/news12.jpg' %}" alt="image" class="width">
                        </div>
                        <div class="events-detail mar-top-30">
                            <div class="news-content pad-0">
                                <h4>EVENT DESCRIPTION</h4>
                                <p class="mar-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry’s standard dummy text ever since the
                                    1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.</p>
                            </div>
                        </div>
                        <div class="events-detail mar-top-30">
                            <div class="news-content pad-0">
                                <h4>EVENT CONTENT</h4>
                                <ul class="event-list-content">
                                    <li>Over 37 lectures and 55.5 hours of content!</li>
                                    <li>LIVE PROJECT End to End Software Testing Training Included.</li>
                                    <li>Learn Software Testing and Automation basics from a professional trainer
                                        from your own desk.
                                    </li>
                                    <li>Information packed practical training starting from basics to advanced
                                        testing techniques.
                                    </li>
                                    <li>Best suitable for beginners to advanced level users and who learn faster
                                        when demonstrated.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail-review news-content pad-0 mar-top-30">
                            <h4>3 Comments</h4>
                            <div class="review-outer">
                                <ul>
                                    <li>
                                        <div class="review-item">
                                            <div class="review-image">
                                                <img src="{% static 'webapp/images/review1.jpg' %}" alt="image">
                                            </div>
                                            <div class="review-content">
                                                <h5>Micheal Clordy</h5>
                                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                <p class="date">November 10,2018 at 3:10 pm</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id
                                                    iaculis arcu. Aenean non dolor magna. In sed consectetur nisi. Sed
                                                    venenatis, nibh sit amet sodales ullamcorper. </p>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="review-item">
                                                    <div class="review-image">
                                                        <img src="{% static 'webapp/images/review2.jpg' %}" alt="image">
                                                    </div>
                                                    <div class="review-content">
                                                        <h5>Micheal Clordy</h5>
                                                        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                        <p class="date">November 10,2018 at 3:10 pm</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Proin id iaculis arcu. Aenean non dolor magna. In sed
                                                            consectetur nisi. Sed venenatis. </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="review-item">
                                            <div class="review-image">
                                                <img src="{% static 'webapp/images/review3.jpg' %}" alt="image">
                                            </div>
                                            <div class="review-content">
                                                <h5>Micheal Clordy</h5>
                                                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                <p class="date">November 10,2018 at 3:10 pm</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id
                                                    iaculis arcu. Aenean non dolor magna. In sed consectetur nisi. Sed
                                                    venenatis. </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="comment-box mar-top-20">
                                <h4>Leave a message</h4>
                                <form class="mar-top-30">
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <input type="text" class="form-control" id="fname" placeholder="First Name">
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <input type="text" class="form-control" id="lname" placeholder="Last Name">
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <input type="text" class="form-control" id="phnumber" placeholder="Phone">
                                        </div>
                                        <div class="textarea col-xs-12">
                                            <textarea placeholder="Enter a message"></textarea>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="comment-btn">
                                                <a href="#" class="btn btn-orange">Submit</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="Sidebar">
                            <div class="sidebar-search sidebar-item">
                                <h4>Search our site</h4>
                                <form>
                                    <input type="text" placeholder="Keyword">
                                    <a href="#">Go</a>
                                </form>
                            </div>
                            <div class="sidebar-info sidebar-item">
                                <div class="info">
                                    <ul>
                                        <li class="title"><i class="fa fa-clock"></i> Start Time</li>
                                        <li class="item">Sunday, July 15, 2018 <span>8:00 am</span></li>
                                    </ul>
                                    <ul>
                                        <li class="title"><i class="fa fa-clock"></i> Finish Time</li>
                                        <li class="item">Sunday, July 15, 2018 <span>5:00 pm</span></li>
                                    </ul>
                                    <ul>
                                        <li class="title"><i class="fa fa fa-map-marker"></i> Address</li>
                                        <li class="item">Paris, French</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-book-event">
                                <h4>Buy Ticket</h4>
                                <form role="search" class="book_event">
                                    <ul>
                                        <li>
                                            <div class="label">Total Slots</div>
                                            <div class="value">500</div>
                                        </li>
                                        <li>
                                            <div class="label">Booked Slots</div>
                                            <div class="value">200</div>
                                        </li>
                                        <li class="event-cost">
                                            <div class="label">Cost</div>
                                            <div class="value">$20/Slot</div>
                                        </li>
                                        <li>
                                            <div class="label">Quantity</div>
                                            <div class="value"><input type="number" name="qty" value="1" min="1"></div>
                                        </li>
                                    </ul>
                                    <div class="button text-center pad-top-15 pad-bottom-15"><a href="#"
                                                                                                class="btn btn-orange">Book
                                        Now</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Ends -->
{% endblock %}