{% extends 'main/base.html' %}

{% load static %}

    {% block content %}
    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Концерты</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">На главную</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- breadcrumb Ends -->

        <!-- top concerts starts -->
        <section class="top-hotel">
            <div class="container">
                <div class="section-title">
                    <h2>Фото & <span>Видео</span></h2>
                    <p class="mar-0">PaRAnoiaDOlls это рок-коллектив, состоящий из талантливых музыкантов,
                        которые умеют не только играть на инструментах, но и создавать настоящее зрелище на своих
                        концертах.
                        Они поражают своей музыкой, создавая уникальную атмосферу на сцене</p>
                    <p class="mar-bottom-30">Присоединяйтесь к PaRAnoiaDOlls и получайте незабываемые эмоции от их
                        выступлений!</p>
                </div>
                <div class="row">
                    {% for concert in concerts %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="top-hotels-ii">
                            <img src="{{ concert.photo.url }}" alt="hotel-image">
                            <h4>{{ concert.name }}</h4>
                            <div class="pp-details yellow">
                                <span class="pull-left">{{ concert.location }}</span>
                                <span class="pp-tour-ar">
                                <a href="#"><i class="fa fa-angle-right pad-0"></i></a>
                            </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
            <iframe width="100%" height="850" src="https://www.youtube.com/embed/aBLZNB1yaa0?autoplay=1&loop=1&playlist=aBLZNB1yaa0" frameborder="0" allowfullscreen></iframe>


        <!-- top concerts ends -->

    {% endblock %}