{% extends 'main/base.html' %}
{% load static %}


    {% block content %}

    <!-- Banner start -->
    <section class="banner">
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url({% static 'webapp/images/slider/pd15.jpg' %})">
                        <div class="swiper-content">
{#                            <h3 data-animation="animated fadeInUp">Tour Dates and Tickets</h3>#}
                            <h1 data-animation="animated fadeInUp">Даты  <span>Концерты</span> Билеты</h1>
                            <a href="{% url 'webapp:eventsdat' %}" data-animation="animated fadeInUp" class="slider-btn btn-or mar-right-10">Заказать</a>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image:url({% static 'webapp/images/slider/pd3.jpg' %})">
                        <div class="swiper-content">
{#                            <h3 data-animation="animated fadeInUp">The lap of Luxury</h3>#}
                            <h1 data-animation="animated fadeInUp">Даты <span>Концерты</span> Билеты</h1>
                            <a href="#" data-animation="animated fadeInUp" class="slider-btn btn-or">Заказать</a>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image:url({% static 'webapp/images/slider/pd4.jpg' %})">
                        <div class="swiper-content">
{#                            <h3 data-animation="animated fadeInUp">As We Like to Keep It That Way</h3>#}
                            <h1 data-animation="animated fadeInUp">Даты <span>Концерты</span> Билеты</h1>
                            <a href="{% url 'webapp:eventsdat' %}" data-animation="animated fadeInUp" class="slider-btn btn-or mar-right-10">Заказать</a>
{#                            <a href="#" data-animation="animated fadeInUp" class="slider-btn btn-wt">Заказать</a>#}
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="overlay"></div>
        </div>
        <!-- banner form Start -->
        <div class="banner-form">
                <div class="container">
                    <div class="form-content">
                        <div class="table-item">
                            <label>Check In</label>
                            <div class="form-group">
                                <div class="date-range-inner-wrapper">
                                    <input id="date-range2" class="form-control" value="yyyy-mm-dd">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-item">
                            <label>Check Out</label>
                            <div class="form-group">
                                <div class="date-range-inner-wrapper">
                                    <input id="date-range3" class="form-control" value="yyyy-mm-dd">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-item">
                            <label>Guests</label>
                            <div class="form-group">
                                <select>
                                    <option value="1">0</option>
                                    <option value="2">1</option>
                                    <option value="3">2</option>
                                    <option value="4">3</option>
                                    <option value="5">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-item">
                            <label>Nights</label>
                            <div class="form-group">
                                <select>
                                    <option value="1">0</option>
                                    <option value="2">1</option>
                                    <option value="3">2</option>
                                    <option value="4">3</option>
                                    <option value="5">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-item">
                            <div class="form-btn mar-top-35">
                                <a class="btn btn-orange">Check Availability</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- banner form End -->
    </section>
    <!-- Banner Ends -->

    <!-- top concerts starts -->
    <section class="top-hotel">
        <div class="container">
            <div class="top-title">
                <div class="row display-flex">
                <div class="col-md-8">
                    <h2><span>Концерты</span></h2>
                    <p class="mar-0">фото/видео</p>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'webapp:events' %}" class="btn btn-black pull-right">Посмотреть еще</a>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-hotels-ii">
                        <img src="{% static 'webapp/images/aphisha8.jpg' %}" alt="hotel-image">
                        <h4>Три Шурупа</h4>
                        <div class="pp-details yellow">
                            <span class="pull-left">Гродно</span>
                            <span class="pp-tour-ar">
                                <a href="#"><i class="fa fa-angle-right pad-0"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-hotels-ii">
                        <img src="{% static 'webapp/images/aphisha2.jpg' %}" alt="hotel-image">
                        <h4>Exit</h4>
                        <div class="pp-details yellow">
                            <span class="pull-left">XX век</span>
                            <span class="pp-tour-ar">
                                <a href="#"><i class="fa fa-angle-right pad-0"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-hotels-ii">
                        <img src="{% static 'webapp/images/aphisha7.jpg' %}" alt="hotel-image">
                        <h4>Полоцк</h4>
                        <div class="pp-details yellow">
                            <span class="pull-left">Клуб Сфера</span>
                            <span class="pp-tour-ar">
                                <a href="#"><i class="fa fa-angle-right pad-0"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-hotels-ii">
                        <img src="{% static 'webapp/images/aphisha4.jpg' %}" alt="hotel-image">
                        <h4>Реактор</h4>
                        <div class="pp-details yellow">
                            <span class="pull-left">Минск</span>
                            <span class="pp-tour-ar">
                                <a href="#"><i class="fa fa-angle-right pad-0"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top concerts ends -->

    <!-- Services Starts -->
    <section class="services service-style-1">
        <div class="container">
            <div class="section-title">
                <h2>PaRAnoia DOlls <span>Музыка</span></h2>
            </div>
            <div class="service-outer">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="service-item">
                            <div class="service-image text-center">
                                <video src="{% static 'webapp/videos/PaRAnoiaDOlls_snake.mp4' %}" width="385" height="250" style="margin: auto;" controls autoplay loop></video>
                            </div>
                            <div class="service-content">
                                <h4><audio id="myAudio" src="{% static 'webapp/audio/paranoia-dolls-zmeya.mp3' %}" controls></audio></h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="service-item">
                            <div class="service-image text-center">
                                <video src="{% static 'webapp/videos/PaRAnoiaDOlls_leto.mp4' %}" width="385" height="250" style="margin: auto;" controls autoplay loop></video>
                            </div>
                            <div class="service-content">
                                <audio id="myAudio" src="{% static 'webapp/audio/paranoia-dolls-leto-album-version.mp3' %}" controls></audio>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mar-bottom-30">
                        <div class="service-item">
                            <div class="service-image text-center">
                                <video src="{% static 'webapp/videos/PaRAnoiaDOlls.mp4' %}" width="385" height="250" style="margin: auto;" controls autoplay loop></video>
                            </div>
                            <div class="service-content">
                                <audio id="myAudio" src="{% static 'webapp/audio/paranoiadolls-december.mp3' %}" controls></audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'webapp:about' %}" class="btn btn-orange">Слушать больше <i class="fas fa-play-circle"></i></a>
        </div>
    </section>
    <!-- Services Ends -->

    <!-- Gallery starts -->
    <section class="content gallery">
        <div class="section-title">
            <h2>PaRAnoiaDOlls <span>фото</span></h2>
            <p class="mar-bottom-30">какой то текст</p>
        </div>
        <div class="container">
            <div class="gal-3-col">
                <div class="masonry">
                    <div class="brick">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img src="{% static 'webapp/images/i_m.jpg' %}" alt="image">
                            </div>
                            <div class="gallery-content">
                                <ul>
                                    <li><a href="{% static 'webapp/images/i_m.jpg' %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="brick">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img src="{% static 'webapp/images/dpdsh.jpg' %}" alt="image">
                            </div>
                            <div class="gallery-content">
                                <ul>
                                    <li><a href="{%static 'webapp/images/dpdsh.jpg' %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="brick">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img src="{% static 'webapp/images/i_4.jpg' %}" alt="image">
                            </div>
                            <div class="gallery-content">
                                <ul>
                                    <li><a href="{% static 'webapp/images/i_4.jpg' %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="brick">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img src="{% static 'webapp/images/pdshew2.jpg' %}" alt="image">
                            </div>
                            <div class="gallery-content">
                                <ul>
                                    <li><a href="{% static 'webapp/images/pdshew2.jpg' %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="brick">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img src="{% static 'webapp/images/pddd2.jpg' %}" alt="image">
                            </div>
                            <div class="gallery-content">
                                <ul>
                                    <li><a href="{% static 'webapp/images/pddd2.jpg' %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="brick">
                        <div class="gallery-item">
                            <div class="gallery-image">
                                <img src="{% static 'webapp/images/pd_3.png' %}" alt="image">
                            </div>
                            <div class="gallery-content">
                                <ul>
                                    <li><a href="{% static 'webapp/images/pd_3.png' %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Ends -->

    <!-- Rooms starts -->
    <section class="rooms">
        <div class="container">
            <div class="row display-flex">
                <div class="col-md-4">
                    <div class="section-title">
                        <h5>ParanoiaDOlls</h5>
                        <h2>Ме<span>рч</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor vulputate quam donec vitae consectetur turpis<br><br>
                        To start the day in the best way, enjoying the extraordinary buffet breakfast in the quiet of our courtyard caressed by the</p>
                        <a href="#" class="btn btn-black mar-top-30">В магаз</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="room-outer">
                        <div class="row room-slider">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="room-item">
                                    <div class="room-image">
                                        <img src="{% static 'webapp/images/room-b1.jpg' %}" alt="image">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="room-content">
                                        <div class="room-title">
                                            <h4>Super Deluxe</h4>
                                            <p class="price-ft">$2010 <span>/ per Night</span></p>
                                            <div class="deal-rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>
                                        <div class="room-services mar-bottom-15">
                                            <ul>
                                                <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                                <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                            </ul>
                                        </div>
                                        <div class="room-btns mar-top-20">
                                            <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                            <a href="#" class="btn btn-orange">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="room-item">
                                    <div class="room-image">
                                        <img src="{% static 'webapp/images/room-b2.jpg' %}" alt="image">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="room-content">
                                        <div class="room-title">
                                            <h4>Junior Suite</h4>
                                            <p class="price-ft">$2010 <span>/ per Night</span></p>
                                            <div class="deal-rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>
                                        <div class="room-services mar-bottom-15">
                                            <ul>
                                                <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                                <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                            </ul>
                                        </div>
                                        <div class="room-btns mar-top-20">
                                            <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                            <a href="#" class="btn btn-orange">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="room-item">
                                    <div class="room-image">
                                        <img src="{% static 'webapp/images/room-b3.jpg' %}" alt="image">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="room-content">
                                        <div class="room-title">
                                            <h4>Executive Suite</h4>
                                            <p class="price-ft">$2010 <span>/ per Night</span></p>
                                            <div class="deal-rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>
                                        <div class="room-services mar-bottom-15">
                                            <ul>
                                                <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                                <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                            </ul>
                                        </div>
                                        <div class="room-btns mar-top-20">
                                            <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                            <a href="#" class="btn btn-orange">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="room-item">
                                    <div class="room-image">
                                        <img src="{% static 'webapp/images/room-b4.jpg' %}" alt="image">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="room-content">
                                        <div class="room-title">
                                            <h4>Royal Deluxe</h4>
                                            <p class="price-ft">$2010 <span>/ per Night</span></p>
                                            <div class="deal-rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>
                                        </div>
                                        <div class="room-services mar-bottom-15">
                                            <ul>
                                                <li><i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms</li>
                                                <li><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</li>
                                            </ul>
                                        </div>
                                        <div class="room-btns mar-top-20">
                                            <a href="#" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                            <a href="#" class="btn btn-orange">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Ends -->


    <!-- News Starts -->
    <section class="news">
        <div class="container">
            <div class="section-title">
                <h2>Pd <span>Новости</span></h2>
                <p>Записываем новый сингл Беларусские ковбои.</p>
            </div>
                <div class="news-outer">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="news-item">
                                <div class="news-image">
                                    <img src="{% static 'webapp/images/news1.jpg' %}" alt="image">
                                </div>
                                <div class="news-content">
                                    <p class="date mar-bottom-5">16 DECEMBER 2019</p>
                                    <h4><a href="single-right.html">Why choose Gautama Hotel to travel this summer</a></h4>
                                    <div class="room-services mar-bottom-10">
                                        <ul>
                                            <li><a href="single-right.html"><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</a></li>
                                            <li><a href="single-right.html"><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                    <a href="single-left.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="news-item">
                                <div class="news-image">
                                    <img src="{% static 'webapp/images/news2.jpg' %}" alt="image">
                                </div>
                                <div class="news-content">
                                    <p class="date mar-bottom-5">16 DECEMBER 2019</p>
                                    <h4><a href="single-right.html">Why choose Gautama Hotel to travel this summer</a></h4>
                                    <div class="room-services mar-bottom-10">
                                        <ul>
                                            <li><a href="single-right.html"><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</a></li>
                                            <li><a href="single-right.html"><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                    <a href="single-left.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="news-item">
                                <div class="news-image">
                                    <img src="{% static 'webapp/images/news3.jpg' %}" alt="image">
                                </div>
                                <div class="news-content">
                                    <p class="date mar-bottom-5">16 DECEMBER 2019</p>
                                    <h4><a href="single-right.html">Why choose Gautama Hotel to travel this summer</a></h4>
                                    <div class="room-services mar-bottom-10">
                                        <ul>
                                            <li><a href="single-right.html"><i class="fa fa-user" aria-hidden="true"></i> By Jack Daniels</a></li>
                                            <li><a href="single-right.html"><i class="fa fa-comment" aria-hidden="true"></i> 3 comments</a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                    <a href="single-left.html">READ MORE <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- News Ends -->

    <!-- Call To Action Starts -->
    <section class="call-to-action">
      <div class="container">
        <div class="call-content text-center">
          <h2 class="white mar-bottom-25">PaRAnoia <span></span> DOlls</h2>
          <div class="call-button mar-top-50">
            <button type="button" class="play-btn js-video-button" data-video-id="kOe_-81Uyew" data-channel="youtube"><i class="fa fa-play"></i></button>
          </div>
          <div class="video-figure"></div>
        </div>
      </div>
    </section>

    <!-- Call To Action Ends -->
    {% endblock %}