{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}

    <div class="site-section" style="overflow: hidden">
        <div class="container">
            <h2>Enter</h2>
            {% if user.is_authenticated %}
                <p>You are already signed in.</p>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <input type="hidden" name="next">
                    {% buttons submit='Sign in' %}{% endbuttons %}
                </form>
                <p><a href="#">Reset password</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}