{% extends 'main/base.html' %}

{% load bootstrap4 %}

{% block title %}Выход{% endblock %}

{% block content %}
    <div class="site-section" style="overflow: hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3 class="text-primary" style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">
                        <span style="color: #333;">Вы вышли с аккаунта.</span>
                    </h3>
                </div>
            </div>
            <script>
                setTimeout(function () {
                    window.location.href = "{% url 'webapp:home' %}";
                }, 2500);  // Через 2.5 секунды произойдет перенаправление на главную страницу
            </script>
        </div>
    </div>
{% endblock %}

