{% extends 'main/base.html' %}

{% load bootstrap4 %}

{% block title %}Выход{% endblock %}

{% block content %}
    <div class="site-section" style="overflow: hidden">
        <div class="container">
            <h3 class="gothic-font" style="text-align: center">Вы вышли из аккаунта!</h3>
            <script>
                setTimeout(function () {
                    window.location.href = "{% url 'webapp:home' %}";
                }, 3000);  // Через 3 секунды произойдет перенаправление на главную страницу
            </script>
        </div>
    </div>
{% endblock %}
