{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <!-- breadcrumb Starts -->
    <section class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Дискография</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">На главную</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- breadcrumb Ends -->

    <!-- pd mp3 starts-->
    <section class="about-team">
        <div class="container">
            <div class="row">
                {% for song in songs %}
                <div class="col-md-4">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="{{ song.photo.url }}" alt="image">
                        </div>
                        <div class="service-content">
                            <audio id="myAudio" src="{{ song.audio.url }}" controls></audio>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- pd mp3 Ends -->

    <!-- top concerts starts -->
    <section class="top-hotel">
        <div class="container">
            <div class="top-title">
                <div class="row display-flex">
                <div class="col-md-8">
                    <h2><span>Концерты</span></h2>
                    <p class="mar-0">фото/видео</p>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'webapp:eventsdat' %}" class="btn btn-orange pull-right">Посмотреть еще</a>
                </div>
                </div>
            </div>
            <div class="row">
                {% for concert in main_concerts %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="top-hotels-ii">
                            <img src="{{ concert.photo.url }}" alt="hotel-image">
                            <h4>{{ concert.name }}</h4>
                            <div class="pp-details yellow">
                                <span class="pull-left">{{ concert.location }}</span>
                                <span class="pp-tour-ar">
                                <a href="#"><i class="fa fa-angle-right pad-0"></i></a>
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- top concerts ends -->

{% endblock %}