{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Registration completed{% endblock %}

{% block content %}

        <div class="site-section" style="overflow: hidden">
        <div class="container" style="max-width: 600px; margin: 0 auto; padding: 30px;">
            <h4 class="text-center">Привет! Заполни форму что бы войти.</h4>
            {% if user.is_authenticated %}
                <p>You are already signed in.</p>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next">
                    <div class="form-group form-checkbox">
                        <input type="checkbox"> Remember Me
                        <a href="#">Forgot password?</a>
                    </div>
                    {% buttons %}
                        <button type="submit" class="btn btn-warning text-light btn-block">Sign in</button>
                    {% endbuttons %}
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
