{% extends 'main/base.html' %}

{% block content %}
    <h1>Подписка на рассылку</h1>
    {% if form.errors %}
        <p class="error">Ошибка в заполнении формы. Пожалуйста, проверьте введенные данные.</p>
    {% endif %}
    {% if subscribed %}
        <p>Вы уже подписаны на рассылку.</p>
    {% else %}
        <p>Введите ваш адрес электронной почты, чтобы подписаться на нашу рассылку.</p>
        <form method="post" action="{% url 'webapp:subscribe' %}">
            {% csrf_token %}
            {{ form.email }}
            <button type="submit" class="btn btn-orange btn-subscribe">Подписаться</button>
        </form>
    {% endif %}
{% endblock %}
